{% block marq %}
<!-- Start marq -->
<section class="">
    <div
      class="relative m-auto flex gap-28 overflow-hidden border border-default-200 py-6"
    >
      <div
        class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-28"
      >
        <h2 class="text-4xl font-medium text-default-950">
          UI-UX Experience
        </h2>
        <h2 class="text-4xl font-medium text-default-950">Web Development</h2>
        <h2 class="text-4xl font-medium text-default-950">
          Digital Marketing
        </h2>
        <h2 class="text-4xl font-medium text-default-950">Product Design</h2>
        <h2 class="text-4xl font-medium text-default-950">
          Mobile Solutions
        </h2>
      </div>
      <!-- marquee__group End-->

      <div
        aria-hidden="true"
        class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-28"
      >
        <h2 class="text-4xl font-medium text-default-950">
          UI-UX Experience
        </h2>
        <h2 class="text-4xl font-medium text-default-950">Web Development</h2>
        <h2 class="text-4xl font-medium text-default-950">
          Digital Marketing
        </h2>
        <h2 class="text-4xl font-medium text-default-950">Product Design</h2>
        <h2 class="text-4xl font-medium text-default-950">
          Mobile Solutions
        </h2>
      </div>
      <!-- marquee__group End-->
    </div>
    <!-- flex End -->
  </section>
  <!-- End marq Section -->
{% endblock marq %}