
<!doctype html>
<html lang="en">

<head>

    {% block title-meta %}
    {% include 'partials/title-meta.html' %}
    {% endblock title-meta %}
  
    {% block head-css %}
    {% include 'partials/head-css.html' %}
    {% endblock head-css %}
  
  
</head>

<body class="">
    {% block header %}
        {% include 'agency2/header.html' %}
    {% endblock header %}
    
    {% block hero %}
        {% include 'agency2/hero.html' %}
    {% endblock hero %}


    {% block features %}
        {% include 'agency2/features.html' %}
    {% endblock features %}

    {% block faq %}
        {% include 'agency2/faq.html' %}
    {% endblock faq %}

    {% block portfolio %}
        {% include 'agency2/portfolio.html' %}
    {% endblock portfolio %}

    {% block pricing %}
        {% include 'agency2/pricing.html' %}
    {% endblock pricing %}

    {% block service %}
        {% include 'agency2/service.html' %}
    {% endblock service %}

    {% block marq %}
        {% include 'agency2/marq.html' %}
    {% endblock marq %}

    {% block start %}
        {% include 'agency2/start.html' %}
    {% endblock start %}

    {% block blog %}
        {% include 'agency2/blog.html' %}
    {% endblock blog %}

    {% block footer %}
    {% include 'partials/footer.html' %}
    {% endblock footer %}

  <div class="fixed bottom-5 end-5 z-40 flex flex-col items-center gap-1">
    {% block backtotop %}
    {% include 'partials/backtotop.html' %}
    {% endblock backtotop %}

    {% block lightdark %}
    {% include 'partials/lightdark.html' %}
    {% endblock lightdark %}

  </div>

  {% block javascripts %}
  {% include 'partials/javascripts.html' %}
  {% endblock javascripts %}
</body>

</html>