{% block footer %}
<footer class="relative border-t border-default-200">
    <div class="container relative">
        <p class="py-6 text-center font-medium text-default-900">
            <script>
                document.write(new Date().getFullYear().toString());
            </script>
            © AeroPage. Crafted and Coded with
            <span class="text-red-500">❤️</span> by
            <a
                    class="text-primary-700"
                    href="https://coderthemes.com/"
                    target="_blank"
            >Coderthemes</a
            >
        </p>
    </div>
</footer>
{% endblock footer %}