{% load static %}
{% block landingNavbar %}
<li class="menu-item group">
    <div
      class="hs-dropdown relative inline-flex [--trigger:hover] [--placement:bottom]"
    >
      <a
        class="hs-dropdown-toggle inline-flex items-center rounded-full px-4 py-2 text-sm font-medium text-default-700 after:absolute after:inset-0 hover:text-primary group-hover:after:-bottom-16 lg:text-base"
        href="javascript:void(0)"
      >
        Landing <i class="ms-2 size-4" data-lucide="chevron-down"></i>
      </a>

      <div
        class="hs-dropdown-menu z-10 mt-4 hidden min-w-48 rounded-lg border border-default-100 bg-white p-1.5 opacity-0 shadow-lg transition-[opacity,margin] hs-dropdown-open:opacity-100 dark:bg-default-50"
      >
        <ul class="flex flex-col gap-1">
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/agency"
              >Agency</a
            >
          </li>
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/agency2"
              >Agency Two</a
            >
          </li>
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/charity"
              >Charity</a
            >
          </li>
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/company"
              >Company</a
            >
          </li>
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/creative"
              >Creative</a
            >
          </li>
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/ebook"
              >eBook</a
            >
          </li>
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/finance"
              >Finance</a
            >
          </li>
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/hosting"
              >Hosting</a
            >
          </li>
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/marketing"
              >Marketing</a
            >
          </li>
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/marketing2"
              >Marketing Two</a
            >
          </li>
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/marketing3"
              >Marketing Three</a
            >
          </li>
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/photography"
              >Photography</a
            >
          </li>
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/portfolio"
              >Portfolio</a
            >
          </li>
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/portfolio2"
              >Portfolio Two</a
            >
          </li>
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/startup"
              >Startup</a
            >
          </li>
          <li>
            <a
              class="flex items-center rounded px-3 py-2 text-sm font-medium text-default-600 transition-all hover:bg-default-400/10 hover:text-default-700"
              href="/webdesigner"
              >Web Designer</a
            >
          </li>
        </ul>
      </div>
    </div>
  </li>
{% endblock landingNavbar %}