{% load static %}
{% block features %}
<section class="py-20" id="features">
    <div class="mx-20">
        <div class="mx-auto mb-14 text-center">
          <span
                  class="mb-2 inline-flex rounded-lg border-x-2 border-x-primary-600 bg-primary/20 px-2 text-base font-semibold text-primary-700"
          >Features</span
          >
            <h2 class="mb-2.5 text-3xl font-semibold text-default-950">
                Awesome Template Features
            </h2>
        </div>

        <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-4">
            <div
                    class="rounded-xl border border-default-200 bg-white transition-all duration-300 hover:shadow-lg dark:bg-default-50"
            >
                <div class="p-6">
                    <div
                            class="flex flex-col items-center justify-center gap-4 text-center"
                    >
                        <div class="shrink">
                            <div
                                    class="inline-flex size-12 items-center justify-center rounded-md bg-primary-500/20 text-primary-600"
                            >
                                <img
                                        src="{% static 'images/demo/logo/tailwindcss.svg' %}"
                                        class="size-6"
                                />
                            </div>
                        </div>
                        <div class="grow">
                            <h4 class="mb-2 text-lg font-semibold text-default-950">
                                Built With Tailwind CSS
                            </h4>
                            <p class="text-sm">
                                Rapidly build modern websites without ever leaving your
                                HTML.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div
                    class="rounded-xl border border-default-200 bg-white transition-all duration-300 hover:shadow-lg dark:bg-default-50"
            >
                <div class="p-6">
                    <div
                            class="flex flex-col items-center justify-center gap-4 text-center"
                    >
                        <div class="shrink">
                            <div
                                    class="inline-flex size-12 items-center justify-center rounded-md bg-primary/20 text-primary-600"
                            >
                                <i class="size-6" data-lucide="airplay"></i>
                            </div>
                        </div>
                        <div class="grow">
                            <h4 class="mb-2 text-lg font-semibold text-default-950">
                                Ultra Responsive
                            </h4>
                            <p class="text-sm">
                                Our fully Responsive design ensures your content is
                                beautifully presented no matter what device your audience is
                                using.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div
                    class="rounded-xl border border-default-200 bg-white transition-all duration-300 hover:shadow-lg dark:bg-default-50"
            >
                <div class="p-6">
                    <div
                            class="flex flex-col items-center justify-center gap-4 text-center"
                    >
                        <div class="shrink">
                            <div
                                    class="inline-flex size-12 items-center justify-center rounded-md bg-primary/20 text-primary-600"
                            >
                                <i class="size-6" data-lucide="sun-moon"></i>
                            </div>
                        </div>
                        <div class="grow">
                            <h4 class="mb-2 text-lg font-semibold text-default-950">
                                Dark Demo Support
                            </h4>
                            <p class="text-sm">
                                Embark on a Rich Experience: Unveiling a Host of Advanced
                                Features within Our Dark Demo Support Environment.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div
                    class="rounded-xl border border-default-200 bg-white transition-all duration-300 hover:shadow-lg dark:bg-default-50"
            >
                <div class="p-6">
                    <div
                            class="flex flex-col items-center justify-center gap-4 text-center"
                    >
                        <div class="shrink">
                            <div
                                    class="inline-flex size-12 items-center justify-center rounded-md bg-primary/20 text-primary-600"
                            >
                                <i class="size-6" data-lucide="package"></i>
                            </div>
                        </div>
                        <div class="grow">
                            <h4 class="mb-2 text-lg font-semibold text-default-950">
                                Production Ready
                            </h4>
                            <p class="text-sm">
                                Our solutions have undergone extensive testing to ensure
                                they can handle the demands of a production environment.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div
                    class="rounded-xl border border-default-200 bg-white transition-all duration-300 hover:shadow-lg dark:bg-default-50"
            >
                <div class="p-6">
                    <div
                            class="flex flex-col items-center justify-center gap-4 text-center"
                    >
                        <div class="shrink">
                            <div
                                    class="inline-flex size-12 items-center justify-center rounded-md bg-primary/20 text-primary-600"
                            >
                                <i class="size-6" data-lucide="figma"></i>
                            </div>
                        </div>
                        <div class="grow">
                            <h4 class="mb-2 text-lg font-semibold text-default-950">
                                Hygienic Design
                            </h4>
                            <p class="text-sm">
                                Our designs feature smooth and continuous surfaces,
                                minimizing areas where dirt, bacteria, or contaminants can
                                accumulate.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div
                    class="rounded-xl border border-default-200 bg-white transition-all duration-300 hover:shadow-lg dark:bg-default-50"
            >
                <div class="p-6">
                    <div
                            class="flex flex-col items-center justify-center gap-4 text-center"
                    >
                        <div class="shrink">
                            <div
                                    class="inline-flex size-12 items-center justify-center rounded-md bg-primary/20 text-primary-600"
                            >
                                <i class="size-6" data-lucide="circuit-board"></i>
                            </div>
                        </div>
                        <div class="grow">
                            <h4 class="mb-2 text-lg font-semibold text-default-950">
                                High Performance
                            </h4>
                            <p class="text-sm">
                                We understand that your requirements are unique. Our
                                high-performance solutions are customizable to match your
                                specific goals.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div
                    class="rounded-xl border border-default-200 bg-white transition-all duration-300 hover:shadow-lg dark:bg-default-50"
            >
                <div class="p-6">
                    <div
                            class="flex flex-col items-center justify-center gap-4 text-center"
                    >
                        <div class="shrink">
                            <div
                                    class="inline-flex size-12 items-center justify-center rounded-md bg-primary/20 text-primary-600"
                            >
                                <i class="size-6" data-lucide="globe-2"></i>
                            </div>
                        </div>
                        <div class="grow">
                            <h4 class="mb-2 text-lg font-semibold text-default-950">
                                Multi Browser Support
                            </h4>
                            <p class="text-sm">
                                Our e-commerce store is rigorously tested and optimized to
                                work flawlessly on all major web browsers, offering a
                                consistent shopping experience to all our customers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div
                    class="rounded-xl border border-default-200 bg-white transition-all duration-300 hover:shadow-lg dark:bg-default-50"
            >
                <div class="p-6">
                    <div
                            class="flex flex-col items-center justify-center gap-4 text-center"
                    >
                        <div class="shrink">
                            <div
                                    class="inline-flex size-12 items-center justify-center rounded-md bg-primary/20 text-primary-600"
                            >
                                <i class="size-6" data-lucide="file-text"></i>
                            </div>
                        </div>
                        <div class="grow">
                            <h4 class="mb-2 text-lg font-semibold text-default-950">
                                Well Documented
                            </h4>
                            <p class="text-sm">
                                Our documentation is a treasure trove of valuable
                                information, from getting started guides to advanced
                                tutorials. It's all there to help you make the most of our
                                services.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div
                    class="rounded-xl border border-default-200 bg-white transition-all duration-300 hover:shadow-lg dark:bg-default-50"
            >
                <div class="p-6">
                    <div
                            class="flex flex-col items-center justify-center gap-4 text-center"
                    >
                        <div class="shrink">
                            <div
                                    class="inline-flex size-12 items-center justify-center rounded-md bg-primary/20 text-primary-600"
                            >
                                <i class="size-6" data-lucide="users-2"></i>
                            </div>
                        </div>
                        <div class="grow">
                            <h4 class="mb-2 text-lg font-semibold text-default-950">
                                Great Support
                            </h4>
                            <p class="text-sm">
                                Our support team is always ready to help. Whether you have
                                questions, encounter issues, or need guidance, we're just a
                                message or call away.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div
                    class="rounded-xl border border-default-200 bg-white transition-all duration-300 hover:shadow-lg dark:bg-default-50"
            >
                <div class="p-6">
                    <div
                            class="flex flex-col items-center justify-center gap-4 text-center"
                    >
                        <div class="shrink">
                            <div
                                    class="inline-flex size-12 items-center justify-center rounded-md bg-primary/20 text-primary-600"
                            >
                                <i class="size-6" data-lucide="move"></i>
                            </div>
                        </div>
                        <div class="grow">
                            <h4 class="mb-2 text-lg font-semibold text-default-950">
                                Highly Customizable
                            </h4>
                            <p class="text-sm">
                                Our product is designed to adapt to your specific
                                requirements. Whether you're an individual, a business, or
                                an organization, we provide the tools to customize it to
                                your liking.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div
                    class="rounded-xl border border-default-200 bg-white transition-all duration-300 hover:shadow-lg dark:bg-default-50"
            >
                <div class="p-6">
                    <div
                            class="flex flex-col items-center justify-center gap-4 text-center"
                    >
                        <div class="shrink">
                            <div
                                    class="inline-flex size-12 items-center justify-center rounded-md bg-primary/20 text-primary-600"
                            >
                                <i class="size-6" data-lucide="feather"></i>
                            </div>
                        </div>
                        <div class="grow">
                            <h4 class="mb-2 text-lg font-semibold text-default-950">
                                Light as a Feather
                            </h4>
                            <p class="text-sm">
                                From our years of experience and expertise in Development,
                                we know users vary, they could have slow of fast network.
                                They all deserve seamless experience in shopping with you.
                                That's why our product is developed with fewer lines.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div
                    class="rounded-xl border border-default-200 bg-white transition-all duration-300 hover:shadow-lg dark:bg-default-50"
            >
                <div class="p-6">
                    <div
                            class="flex flex-col items-center justify-center gap-4 text-center"
                    >
                        <div class="shrink">
                            <div
                                    class="inline-flex size-12 items-center justify-center rounded-md bg-primary/20 text-primary-600"
                            >
                                <i class="size-6" data-lucide="star"></i>
                            </div>
                        </div>
                        <div class="grow">
                            <h4 class="mb-2 text-lg font-semibold text-default-950">
                                UX Considered
                            </h4>
                            <p class="text-sm">
                                A good design does not need any explanation because a good
                                design can speak for itself. Out app doesn't only have a
                                good User Interface, we also have considered User
                                experience.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p
                class="mt-6 text-center text-base font-medium text-primary-900 dark:text-primary-100"
        >
            Empower Your Journey with Our Engaging Landing Demo.🔥
        </p>
    </div>
</section>
{% endblock features %}