{% block features %}
<!-- Start features -->
<section id="features" class="py-10 lg:py-20">
    <div class="container">
      <div class="mb-10 flex items-end justify-between">
        <div class="mx-auto max-w-2xl text-center">
          <span
            class="rounded-md border border-primary bg-primary/20 px-3 py-1 text-xs font-medium uppercase tracking-wider text-primary"
            >Featureo Features</span
          >
          <h2 class="mt-4 text-4xl font-medium capitalize text-default-950">
            Our Features
          </h2>
        </div>
      </div>
      <!-- flex End -->

      <div
        class="grid grid-cols-1 items-center overflow-hidden rounded-md border border-default-200 md:grid-cols-2 xl:grid-cols-3"
      >
        <div class="group h-full border-b border-default-200">
          <div class="p-8 sm:p-10">
            <span class="">
              <i
                data-lucide="component"
                class="size-14 text-default-950"
              ></i>
            </span>
            <h2 class="mb-4 mt-8 text-2xl font-medium text-default-950">
              Developer
            </h2>
            <p class="mb-6 text-base">
              Lorem ipsum dummy text are usually use in these section. Lorem
              ipsum dummy text are used in this design
            </p>
            <a href="javascript:void(0);" class="text-lg text-default-950"
              >Read More
              <i
                data-lucide="move-right"
                class="inline-block size-6 opacity-0 transition-all duration-500 will-change-transform group-hover:translate-x-2 group-hover:opacity-100"
              ></i>
            </a>
          </div>
        </div>
        <!-- end col -->

        <div class="group h-full border-b border-default-200 md:border-s">
          <div class="p-8 sm:p-10">
            <span class="">
              <i data-lucide="monitor" class="size-14 text-default-950"></i>
            </span>
            <h2 class="mb-4 mt-8 text-2xl font-medium text-default-950">
              Web Design
            </h2>
            <p class="mb-6 text-base">
              In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
              Nullam dictum felis eu pede mollis pretium.
            </p>
            <a href="javascript:void(0);" class="text-lg text-default-950"
              >Read More
              <i
                data-lucide="move-right"
                class="inline-block size-6 opacity-0 transition-all duration-500 will-change-transform group-hover:translate-x-2 group-hover:opacity-100"
              ></i>
            </a>
          </div>
        </div>
        <!-- end col -->

        <div class="group h-full border-b border-default-200 xl:border-s">
          <div class="p-8 sm:p-10">
            <span class="">
              <i data-lucide="layers" class="size-14 text-default-950"></i>
            </span>
            <h2 class="mb-4 mt-8 text-2xl font-medium text-default-950">
              Digital Product Design
            </h2>
            <p class="mb-6 text-base">
              Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien
              ut libero venenatis faucibus.
            </p>
            <a href="javascript:void(0);" class="text-lg text-default-950"
              >Read More
              <i
                data-lucide="move-right"
                class="inline-block size-6 opacity-0 transition-all duration-500 will-change-transform group-hover:translate-x-2 group-hover:opacity-100"
              ></i>
            </a>
          </div>
        </div>
        <!-- end col -->

        <div
          class="group h-full border-b border-s border-default-200 xl:border-0"
        >
          <div class="p-8 sm:p-10">
            <span class="">
              <i
                data-lucide="layout-grid"
                class="size-14 text-default-950"
              ></i>
            </span>
            <h2 class="mb-4 mt-8 text-2xl font-medium text-default-950">
              Branding & Design
            </h2>
            <p class="mb-6 text-base">
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
              posuere Curae; In ac dui quis mi consectetuer lacinia.
            </p>
            <a href="javascript:void(0);" class="text-lg text-default-950"
              >Read More
              <i
                data-lucide="move-right"
                class="inline-block size-6 opacity-0 transition-all duration-500 will-change-transform group-hover:translate-x-2 group-hover:opacity-100"
              ></i>
            </a>
          </div>
        </div>
        <!-- end col -->

        <div
          class="group h-full border-b border-default-200 md:border-b-0 xl:border-s"
        >
          <div class="p-8 sm:p-10">
            <span class="">
              <i data-lucide="figma" class="size-14 text-default-950"></i>
            </span>
            <h2 class="mb-4 mt-8 text-2xl font-medium text-default-950">
              Ui/Ux & Design
            </h2>
            <p class="mb-6 text-base">
              Maecenas malesuada. Praesent congue erat at massa. Sed cursus
              turpis vitae tortor. Donec posuere vulputate arcu.
            </p>
            <a href="javascript:void(0);" class="text-lg text-default-950"
              >Read More
              <i
                data-lucide="move-right"
                class="inline-block size-6 opacity-0 transition-all duration-500 will-change-transform group-hover:translate-x-2 group-hover:opacity-100"
              ></i>
            </a>
          </div>
        </div>
        <!-- end col -->

        <div class="group h-full border-default-200 md:border-s">
          <div class="p-8 sm:p-10">
            <span class="">
              <i
                data-lucide="paintbrush"
                class="size-14 text-default-950"
              ></i>
            </span>
            <h2 class="mb-4 mt-8 text-2xl font-medium text-default-950">
              Graphic Design
            </h2>
            <p class="mb-6 text-base">
              Aenean posuere, tortor sed cursus feugiat, nunc augue blandit
              nunc, eu sollicitudin urna dolor sagittis lacus.
            </p>
            <a href="javascript:void(0);" class="text-lg text-default-950"
              >Read More
              <i
                data-lucide="move-right"
                class="inline-block size-6 opacity-0 transition-all duration-500 will-change-transform group-hover:translate-x-2 group-hover:opacity-100"
              ></i>
            </a>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- grid End -->
    </div>
    <!-- container End -->
  </section>
{% endblock features %}