{% load static %}
{% block services %}
<!-- Start Services -->
<section id="services" class="py-10 lg:py-20">
    <div class="container">
      <div class="mb-10 flex items-end justify-between">
        <div class="mx-auto max-w-2xl text-center">
          <span
            class="rounded-md border border-primary bg-primary/20 px-3 py-1 text-xs font-medium uppercase tracking-wider text-primary"
            >Services</span
          >
          <h2 class="my-4 text-4xl font-medium capitalize text-default-950">
            Our Services
          </h2>
          <p class="text-base">
            Lorem ipsum dummy text are usually use print and website industry.
          </p>
        </div>
      </div>
      <!-- flex End-->

      <div
        class="grid grid-cols-1 items-center divide-y divide-default-200 overflow-hidden rounded-md bg-default-100 dark:bg-default-50 lg:grid-cols-3 lg:divide-x lg:divide-y-0"
      >
        <div class="group">
          <div class="p-8 sm:p-10">
            <span>
              <i
                data-lucide="component"
                class="size-14 text-default-950"
              ></i>
            </span>
            <h2 class="mb-4 mt-8 text-2xl font-medium text-default-950">
              Developer
            </h2>
            <p class="mb-6 text-base">
              Lorem ipsum dummy text are usually use in these section. Lorem
              ipsum dummy text are used in this design
            </p>
            <a href="javascript:void(0);" class="text-lg text-default-950"
              >Read More
              <i
                data-lucide="move-right"
                class="inline-block size-6 opacity-0 transition-all duration-500 will-change-transform group-hover:translate-x-2 group-hover:opacity-100"
              ></i>
            </a>
          </div>
        </div>
        <!-- end col -->

        <div class="group">
          <div class="p-8 sm:p-10">
            <span>
              <i data-lucide="layers" class="size-14 text-default-950"></i>
            </span>
            <h2 class="mb-4 mt-8 text-2xl font-medium text-default-950">
              Digital Product Design
            </h2>
            <p class="mb-6 text-base">
              Lorem ipsum dummy text are usually use in these section. Lorem
              ipsum dummy text are used in this design
            </p>
            <a href="javascript:void(0);" class="text-lg text-default-950"
              >Read More
              <i
                data-lucide="move-right"
                class="inline-block size-6 opacity-0 transition-all duration-500 will-change-transform group-hover:translate-x-2 group-hover:opacity-100"
              ></i>
            </a>
          </div>
        </div>
        <!-- end col -->

        <div class="group">
          <div class="p-8 sm:p-10">
            <span>
              <i
                data-lucide="layout-grid"
                class="size-14 text-default-950"
              ></i>
            </span>
            <h2 class="mb-4 mt-8 text-2xl font-medium text-default-950">
              Branding & Design
            </h2>
            <p class="mb-6 text-base">
              Lorem ipsum dummy text are usually use in these section. Lorem
              ipsum dummy text are used in this design
            </p>
            <a href="javascript:void(0);" class="text-lg text-default-950"
              >Read More
              <i
                data-lucide="move-right"
                class="inline-block size-6 opacity-0 transition-all duration-500 will-change-transform group-hover:translate-x-2 group-hover:opacity-100"
              ></i>
            </a>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- grid End-->
    </div>
    <!-- container End-->
  </section>
  <!-- End Services -->
{% endblock services %}