$flaticon_rexion-font: "flaticon_rexion";

@font-face {
    font-family: $flaticon_rexion-font;
    src: url("./flaticon_rexion.woff2?72d6395a8420c078c68a04d09c955ebc") format("woff2"),
url("./flaticon_rexion.woff?72d6395a8420c078c68a04d09c955ebc") format("woff"),
url("./flaticon_rexion.eot?72d6395a8420c078c68a04d09c955ebc#iefix") format("embedded-opentype"),
url("./flaticon_rexion.ttf?72d6395a8420c078c68a04d09c955ebc") format("truetype"),
url("./flaticon_rexion.svg?72d6395a8420c078c68a04d09c955ebc#flaticon_rexion") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_rexion !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_rexion-map: (
    "facebook-app-symbol": "\f101",
    "twitter": "\f102",
    "twitter-1": "\f103",
    "linkedin": "\f104",
    "pinterest": "\f105",
    "instagram": "\f106",
    "location": "\f107",
    "bed": "\f108",
    "bathtub": "\f109",
    "network": "\f10a",
    "play": "\f10b",
    "star": "\f10c",
    "right-arrow": "\f10d",
    "left-arrow": "\f10e",
    "arrow-right": "\f10f",
    "arrow-right-1": "\f110",
    "arrow-left": "\f111",
    "arrow-left-1": "\f112",
    "up-arrow": "\f113",
    "right-up": "\f114",
    "apartment": "\f115",
    "workplace": "\f116",
    "villa": "\f117",
    "maps-and-flags": "\f118",
    "call": "\f119",
    "email": "\f11a",
    "email-1": "\f11b",
    "call-1": "\f11c",
    "right-up-1": "\f11d",
    "menu": "\f11e",
    "home": "\f11f",
    "check-mark": "\f120",
    "land": "\f121",
    "blueprint": "\f122",
    "payment": "\f123",
    "offer": "\f124",
    "construction": "\f125",
    "service": "\f126",
    "company": "\f127",
    "house": "\f128",
    "plus": "\f129",
    "right-arrow-1": "\f12a",
    "search": "\f12b",
    "down-chevron": "\f12c",
    "influencer": "\f12d",
    "flat": "\f12e",
    "coworkers": "\f12f",
    "modern-house": "\f130",
    "bed-1": "\f131",
    "bath-tub": "\f132",
    "back": "\f133",
    "double-arrow": "\f134",
    "fax": "\f135",
    "ribbon": "\f136",
    "user": "\f137",
    "location-1": "\f138",
    "telephone-call": "\f139",
    "residential": "\f13a",
    "home-1": "\f13b",
    "pdf": "\f13c",
    "calendar": "\f13d",
    "protection": "\f13e",
    "user-1": "\f13f",
    "user-2": "\f140",
    "dot": "\f141",
    "comment": "\f142",
    "protected": "\f143",
    "play-button-arrowhead": "\f144",
    "dollar-sign": "\f145",
    "dollar-currency-symbol": "\f146",
);

.flaticon-facebook-app-symbol:before {
    content: map-get($flaticon_rexion-map, "facebook-app-symbol");
}
.flaticon-twitter:before {
    content: map-get($flaticon_rexion-map, "twitter");
}
.flaticon-twitter-1:before {
    content: map-get($flaticon_rexion-map, "twitter-1");
}
.flaticon-linkedin:before {
    content: map-get($flaticon_rexion-map, "linkedin");
}
.flaticon-pinterest:before {
    content: map-get($flaticon_rexion-map, "pinterest");
}
.flaticon-instagram:before {
    content: map-get($flaticon_rexion-map, "instagram");
}
.flaticon-location:before {
    content: map-get($flaticon_rexion-map, "location");
}
.flaticon-bed:before {
    content: map-get($flaticon_rexion-map, "bed");
}
.flaticon-bathtub:before {
    content: map-get($flaticon_rexion-map, "bathtub");
}
.flaticon-network:before {
    content: map-get($flaticon_rexion-map, "network");
}
.flaticon-play:before {
    content: map-get($flaticon_rexion-map, "play");
}
.flaticon-star:before {
    content: map-get($flaticon_rexion-map, "star");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon_rexion-map, "right-arrow");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon_rexion-map, "left-arrow");
}
.flaticon-arrow-right:before {
    content: map-get($flaticon_rexion-map, "arrow-right");
}
.flaticon-arrow-right-1:before {
    content: map-get($flaticon_rexion-map, "arrow-right-1");
}
.flaticon-arrow-left:before {
    content: map-get($flaticon_rexion-map, "arrow-left");
}
.flaticon-arrow-left-1:before {
    content: map-get($flaticon_rexion-map, "arrow-left-1");
}
.flaticon-up-arrow:before {
    content: map-get($flaticon_rexion-map, "up-arrow");
}
.flaticon-right-up:before {
    content: map-get($flaticon_rexion-map, "right-up");
}
.flaticon-apartment:before {
    content: map-get($flaticon_rexion-map, "apartment");
}
.flaticon-workplace:before {
    content: map-get($flaticon_rexion-map, "workplace");
}
.flaticon-villa:before {
    content: map-get($flaticon_rexion-map, "villa");
}
.flaticon-maps-and-flags:before {
    content: map-get($flaticon_rexion-map, "maps-and-flags");
}
.flaticon-call:before {
    content: map-get($flaticon_rexion-map, "call");
}
.flaticon-email:before {
    content: map-get($flaticon_rexion-map, "email");
}
.flaticon-email-1:before {
    content: map-get($flaticon_rexion-map, "email-1");
}
.flaticon-call-1:before {
    content: map-get($flaticon_rexion-map, "call-1");
}
.flaticon-right-up-1:before {
    content: map-get($flaticon_rexion-map, "right-up-1");
}
.flaticon-menu:before {
    content: map-get($flaticon_rexion-map, "menu");
}
.flaticon-home:before {
    content: map-get($flaticon_rexion-map, "home");
}
.flaticon-check-mark:before {
    content: map-get($flaticon_rexion-map, "check-mark");
}
.flaticon-land:before {
    content: map-get($flaticon_rexion-map, "land");
}
.flaticon-blueprint:before {
    content: map-get($flaticon_rexion-map, "blueprint");
}
.flaticon-payment:before {
    content: map-get($flaticon_rexion-map, "payment");
}
.flaticon-offer:before {
    content: map-get($flaticon_rexion-map, "offer");
}
.flaticon-construction:before {
    content: map-get($flaticon_rexion-map, "construction");
}
.flaticon-service:before {
    content: map-get($flaticon_rexion-map, "service");
}
.flaticon-company:before {
    content: map-get($flaticon_rexion-map, "company");
}
.flaticon-house:before {
    content: map-get($flaticon_rexion-map, "house");
}
.flaticon-plus:before {
    content: map-get($flaticon_rexion-map, "plus");
}
.flaticon-right-arrow-1:before {
    content: map-get($flaticon_rexion-map, "right-arrow-1");
}
.flaticon-search:before {
    content: map-get($flaticon_rexion-map, "search");
}
.flaticon-down-chevron:before {
    content: map-get($flaticon_rexion-map, "down-chevron");
}
.flaticon-influencer:before {
    content: map-get($flaticon_rexion-map, "influencer");
}
.flaticon-flat:before {
    content: map-get($flaticon_rexion-map, "flat");
}
.flaticon-coworkers:before {
    content: map-get($flaticon_rexion-map, "coworkers");
}
.flaticon-modern-house:before {
    content: map-get($flaticon_rexion-map, "modern-house");
}
.flaticon-bed-1:before {
    content: map-get($flaticon_rexion-map, "bed-1");
}
.flaticon-bath-tub:before {
    content: map-get($flaticon_rexion-map, "bath-tub");
}
.flaticon-back:before {
    content: map-get($flaticon_rexion-map, "back");
}
.flaticon-double-arrow:before {
    content: map-get($flaticon_rexion-map, "double-arrow");
}
.flaticon-fax:before {
    content: map-get($flaticon_rexion-map, "fax");
}
.flaticon-ribbon:before {
    content: map-get($flaticon_rexion-map, "ribbon");
}
.flaticon-user:before {
    content: map-get($flaticon_rexion-map, "user");
}
.flaticon-location-1:before {
    content: map-get($flaticon_rexion-map, "location-1");
}
.flaticon-telephone-call:before {
    content: map-get($flaticon_rexion-map, "telephone-call");
}
.flaticon-residential:before {
    content: map-get($flaticon_rexion-map, "residential");
}
.flaticon-home-1:before {
    content: map-get($flaticon_rexion-map, "home-1");
}
.flaticon-pdf:before {
    content: map-get($flaticon_rexion-map, "pdf");
}
.flaticon-calendar:before {
    content: map-get($flaticon_rexion-map, "calendar");
}
.flaticon-protection:before {
    content: map-get($flaticon_rexion-map, "protection");
}
.flaticon-user-1:before {
    content: map-get($flaticon_rexion-map, "user-1");
}
.flaticon-user-2:before {
    content: map-get($flaticon_rexion-map, "user-2");
}
.flaticon-dot:before {
    content: map-get($flaticon_rexion-map, "dot");
}
.flaticon-comment:before {
    content: map-get($flaticon_rexion-map, "comment");
}
.flaticon-protected:before {
    content: map-get($flaticon_rexion-map, "protected");
}
.flaticon-play-button-arrowhead:before {
    content: map-get($flaticon_rexion-map, "play-button-arrowhead");
}
.flaticon-dollar-sign:before {
    content: map-get($flaticon_rexion-map, "dollar-sign");
}
.flaticon-dollar-currency-symbol:before {
    content: map-get($flaticon_rexion-map, "dollar-currency-symbol");
}
